* {
  cursor: url('medias/mouse.png'), auto;
}
body {
font-family: Inter !important;
background-image: url("bg.jpg");
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
}
::-webkit-scrollbar {
width: 6px;
height: 6px;
}
::-webkit-scrollbar-button {
width: 4px;
height: 4px;
}
::-webkit-scrollbar-thumb {
background: #e1e1e1;
border: 0px none #ffffff;
border-radius: 41px;
}
::-webkit-scrollbar-thumb:hover {
background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
background: #ffffff;
}
::-webkit-scrollbar-track {
background: #1d1d1d;
border: 0px none #ffffff;
border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
background: #1d1d1d;
}
::-webkit-scrollbar-track:active {
background: #1d1d1d;
}
::-webkit-scrollbar-corner {
background: transparent;
}
@font-face {
  font-family: Minecraft;
  src: url(Minecraftia.ttf);
}
footer {
overflow: hidden;
position: fixed;
float: left;
bottom: 0;
width: 98.5%;
background: rgb(49,49,49);
height: 40px;
margin-bottom: 3;
padding: 0;
background: rgba(60, 60, 60, 0.67);
backdrop-filter: blur(50px);
border-radius: 10px;
}
.window {
  height: 0px;
  width: 0px;
  display: none;
  animation: open 0.05s ease 0s 1 normal forwards;
}
.header {
 height: 30px;
 width: 600px;
 background-color: #1d1d1d;
 overflow: auto;
 border-radius: 5px 5px 0px 0px;
  background: rgba(60, 60, 60, 0.8);
  backdrop-filter: blur(50px);
}
.content {
 width: 600px;
 margin: 0;
 padding: 0;
 height: 450px;
 border-radius: 0px 0px 5px 5px;
 resize: both;
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: rotateX(100deg);
    transform-origin: bottom;
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
    transform-origin: bottom;
  }
}
@keyframes close {
  0% {
    opacity: 1;
    transform: rotateX(0);
    transform-origin: bottom;
  }

  100% {
    opacity: 0;
    transform: rotateX(-70deg);
    transform-origin: bottom;
  }
}
@keyframes open {
  0% {
    transform: scale(0.5);
  }
  
  100% {
    transform: scale(1);
  }
}
.headertext {
  color: white;
  border: black solid 0px;
  font-family: Inter;
  border-radius: 0px;
  font-size: 12px;
  padding: 8px;
  height: 30px;
background: none;
}
@keyframes notifs {
0% {
  opacity: 0;
  transform: rotateY(70deg);
  transform-origin: right;
}

100% {
  opacity: 1;
  transform: rotateY(0);
  transform-origin: right;
}
}
.list li {
background-color: #2e2e2e;
margin: 10px;
padding: 10px;
border-radius: 5px;
}
.notifications {
height: 91.5%;
width:300px;
position:fixed!important;
color: white;
padding: 2.5px;
right:0;
top: -1;
display: none;
background: rgba(60, 60, 60, 0.67);
backdrop-filter: blur(50px);
border-radius: 10px;
margin-right: 7px;
margin-top: 7px;
}
.notifications ul {
padding: 0;
margin: 0;
}
.closebutton {
  float: right;
  color: white;
  height: 100%;
  width: 50px;
  border: black solid 0px;
  border-radius: 0px 5px 0px 0px;
  font-size: 20px;
  background: none;
}
.closebutton:hover{
  background-color: red;
  border: black solid 0px;

}
.menubutton {
  border: black solid 0px;
  padding: 8px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  vertical-align: middle;
  color: white;
  font-size: 20px;
  float: left;
  transition: all 0.2s ease;
  background: none;
}
.menubutton:hover {
  background: rgb(49,49,49);
  width: 40px;
  height: 40px;
}
li {
  float: left;
  display: block;
}
*{
  user-select: none;
}
nav{
display: inline-block;
}
#span {
  font-size: 75px;
  color: white;
}
.special {
  border: 1px white solid;
  padding: 5px;
  font-size: 9px;
  color: #fff;
  background-color: #1d1d1d;
  border-radius: 5px;
  font-family: Inter;
}
.sidebar{
  height:17%;
}
.search {
  width: 92.5%;
  background: none;
  border-radius: 5px;
  padding: 3px;
  position: fixed;
  bottom: 0;
  text-align: right;
}
.search2 {
  width: 98%;
  background: nones;
  padding: 3px;
  border-radius: 5px;
}
.sidebar2 {
  height: 72.2%;
  width:400px;
  position:fixed!important;
  z-index:1;
  animation: popup 0.2s ease 0s 1 normal none;
  border-radius: 5px 5px 0px 0px;
  overflow:auto;
  padding: 10px;
  color: #fff;
  background-color: #323232;
  display: none;
  flex-direction: column;
background: rgba(60, 60, 60, 0.67);
backdrop-filter: blur(50px);
border-radius: 10px;
}
.menubutton2 {
  background: none;
  font-family: Inter;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 3px;
  margin: 20px;
  transition: all 0.2s ease;
}
.menubutton2:hover {
  background-color: #2e2e2e;
  transition: all 0.2s ease;
}
::file-selector-button {
  font-size: initial;
  border: 1px white solid;
  padding: 5px;
  font-size: 9px;
  color: #fff;
  background-color: #1d1d1d;
  border-radius: 5px;
}
.settingssidebar {
     opacity: .75;
 backdrop-filter: blur(10px);
 webkit-backdrop-filter: blur(10px);
}
.menubutton2 img {
  border-radius: 5px
}
.searchmenu {
  background-color: #323232;
  padding: 10px;
  text-align: center;
  overflow: auto;
  color: white;
  display: none;
  opacity: .90;
  animation: popup 0.2s ease 0s 1 normal none;
border-radius: 10px;
}
.searchmenu input {
  padding: 5px;
  border-radius: 5px;
  width: 500px;
}
#list2 {
  padding-left: 45%;
}
.Userview {
  background-color: #323232;
  padding: 5px;
  color: white;
  opacity: .90;
  animation: popup 0.2s ease 0s 1 normal none;
  display: none;
border-radius: 10px;
}
.Userview img {
  width: 58px;
  height: 52px;
}
.KasiusTalk {
  background-color: #323232;
  padding: 5px;
  opacity: .90;
  animation: popup 0.2s ease 0s 1 normal none;
  display: none;
  color: white;
border-radius: 10px;
}
.nav {
  padding: 0;
  margin: 0;
}
.settings {
overflow: auto;
}